body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #222; /* background color */
  color: #f4f4f4;        /* font color */
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: normal;
  font-size: 1.2rem;
}
